@import (reference) '../../styles/mixins';

@board-count: var(--board-count, 1);
@board-margin: var(--boards-margin, 20px);

@light-color: var(--light-square-color, #eeeece);
@half-dark-color: var(--half-square-dark-color, #d8d8d8);
@dark-color: var(--dark-square-color, #bbb);

.original-piece {
  fill: #aaa;
}

.boards {
  .flex();

  grid-area: boards;
  width: var(--boards-width);

  &.antichess {
    .board {
      .center-border {
        stroke: red;
      }
    }
  }

  .board {
    width: calc((100% - (@board-count - 1) * @board-margin) / @board-count);

    &:not(:last-child) {
      margin-right: @board-margin;
    }

    .square {
      cursor: pointer;

      &.light {
        fill: @light-color;
      }

      &.half-dark {
        fill: @half-dark-color;
      }

      &.dark {
        fill: @dark-color;
      }
    }

    .square,
    .selected-square,
    .current-move-square,
    .allowed-square,
    .check-square,
    .hidden-square,
    .literal,
    .center-border {
      cursor: pointer;
    }

    .selected-square {
      fill: rgba(115,125,105,0.5);
    }

    .current-move-square {
      fill: rgba(0,255,0,0.5);
    }

    .allowed-square {
      // fill: url(#allowed-grad);
      fill: rgba(0,255,255,0.5);
    }

    .check-square {
      // fill: url(#check-grad);
      fill: rgba(255,0,0,0.5);
    }

    .literal {
      .user-select(none);

      &.light {
        fill: @light-color;
      }

      &.half-dark {
        fill: @half-dark-color;
      }

      &.dark {
        fill: @dark-color;
      }
    }

    .hidden-square {
      fill: rgba(0,0,0,0.7);
    }

    .center-border {
      stroke: black;
      stroke-width: 3;
      stroke-linecap: square;
    }
  }

  .piece-container {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    cursor: pointer;

    .piece {
      opacity: 1;
      transition: opacity 0.2s ease-in;

      &.fantom {
        opacity: 0.2;
      }

      &.full-fantom {
        opacity: 0;
      }
    }
  }

  &.no-transition {
    .piece-container, .piece {
      transition: none;
    }
  }
}
