@import (reference) '../../../styles/mixins';

.game-rules-example {
  align-items: center;
  margin: 20px 0;

  .description {
    grid-area: description;
    margin-top: 5px;
    font-style: italic;
    text-align: center;
  }

  .moves-panel {
    align-self: center;
  }

  .not-desktop({
    .game-content {
      grid-template:
        "boards     " auto
        "description" auto
        ".          " 10px
        "moves      " auto
        ~"/" 100%;

      .boards .board {
        max-height: 80vh;
      }

      .moves-panel {
        width: 100%;
      }
    }
  });

  .desktop({
    padding: 0 10%;

    .game-content {
      grid-template:
        "boards      moves" auto
        "description moves" auto
        ~"/" 2fr 1fr;
      grid-column-gap: 20px;

      .moves-panel {
        min-height: 150px;
      }
    }
  });
}
