doctype html
html
  head
    meta(charset="UTF-8")
    title AllChess
    script.
      window.__ALL_CHESS_USER__ = !{ user };
  body
    div(id="app-root")
    div(id="modal-root")
    script(src="/public/all.js")
