doctype html
html
  head
    meta(charset="UTF-8")
    title AllChess
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href=cssBundlePath)
    script.
      window.__ALL_CHESS_USER__ = !{user};
  body
    div(id="app-root")
    div(id="modal-root")
    div(id="fixed-elements-root")
    script(type="text/javascript", src=jsBundlePath)
