@import (reference) "../../styles/mixins";

.game-variant-select {
  .desktop({
    max-width: 300px;
  });

  .MuiMenuItem-root {
    .MuiTypography-root {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .not-hover({
      .star-outlined {
        visibility: hidden;
      }
    });
  }
}
