@import (reference) '../../styles/mixins';

@grid-gap: var(--grid-gap, 20px);
@left-desktop-panel-width: var(--left-desktop-panel-width, 300px);
@right-desktop-panel-width: var(--right-desktop-panel-width, 300px);
@right-panel-width: var(--right-panel-width, 300px);
@tablet-panel-width: var(--tablet-panel-width, 300px);
@pocket-size: var(--pocket-size, 5);

.route.game-route {
  .flex-col(@justify-content: center);

  .spinner {
    .flex();
  }

  .game {
    display: grid;
    padding: @grid-gap;

    .game-info {
      grid-area: game-info;
      padding: 8px 3px;

      .variants {
        .variants-header {
          margin-left: 10px;
        }

        padding: 3px 8px;

        .variant {
          font-weight: bold;
          color: green;
        }
      }

      .result, .time-control {
        margin-left: 18px;
      }
    }

    .chat {
      .flex-col-stretch();

      grid-area: chat;
      min-height: 200px;
      padding: 3px 8px;

      .header {
        .flex-child-fixed();
        .flex();

        padding: 5px 0;
        border-bottom: 1px solid black;
      }

      .messages {
        .flex-child();

        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 10px;

        .message {
          display: flex;
          width: 100%;
          margin-bottom: 4px;

          .login {
            font-weight: bold;
            margin-right: 10px;
            color: green;
          }

          .content {
            word-wrap: break-word;
            width: calc(100% - 30px);
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.system {
            .login {
              color: red;
            }
          }
        }
      }

      .new-message-input {
        .flex-child-fixed();
      }
    }

    .game-content {
      display: grid;
      grid-area: game-content;

      .boards {
        align-items: flex-start;
        align-self: start;
      }

      .game-actions {
        .flex-col-stretch();

        grid-area: actions;

        .buttons {
          @button-size: 30px;

          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(@button-size, 1fr));;
          justify-items: center;

          .button {
            .flex();

            position: relative;
            line-height: @button-size;
            width: @button-size;
            height: @button-size;
            font-size: 18px;
            cursor: pointer;
            background-color: rgba(0,0,0,0);

            &.enabled {
              background-color: #0c0;
            }

            &.disabled {
              cursor: not-allowed;
              opacity: 0.25;
            }

            &:not(.disabled) {
              &:hover {
                background-color: rgba(0,0,0,0.2);
              }
            }

            .piece-container {
              position: absolute;
              bottom: 0;
              right: 0;
              width: 15px;
              height: 15px;

              .piece {
                position: absolute;

                &.fantom {
                  opacity: 0.2;
                }
              }
            }
          }
        }

        .action {
          text-align: center;

          &:not(:first-child) {
            margin-top: 5px;
          }

          &:last-child {
            margin-bottom: 5px;
          }

          .takeback-move-link {
            color: green;
            cursor: pointer;
          }
        }

        .fa-check,
        .fa-times {
          cursor: pointer;
          margin-left: 5px;
        }

        .fa-check {
          color: green;
        }

        .fa-times {
          color: red;
        }
      }

      .game-player {
        display: grid;
        justify-items: start;
        padding: 3px 8px;

        .pocket {
          .flex();

          grid-area: pocket;
          width: 100%;

          .piece-container {
            .flex();
            .flex-child();

            position: relative;
            cursor: pointer;
            background-color: lightskyblue;

            &.disabled {
              opacity: 0.2;
            }

            .selected-square {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(115,125,105,0.5);
              z-index: 1;
            }

            .piece {
              width: 100%;
              z-index: 2;
            }

            .count {
              .flex();

              position: absolute;
              bottom: 0;
              right: 0;
              width: 15px;
              height: 15px;
              font-size: 10px;
              background-color: red;
              color: #fff;
              border-radius: 100%;
              z-index: 3;
            }
          }
        }

        .material-advantage {
          .flex();

          grid-area: material;
          height: 20px;

          .piece-advantage {
            .flex();

            height: 20px;
          }

          .piece {
            width: 20px;
            height: 20px;
          }

          .count {
            margin-left: -2px;
          }

          .all-material-advantage {
            font-weight: bold;
            margin-left: 10px;
          }
        }

        .login {
          .ellipsis();

          grid-area: login;
          font-size: 16px;
        }

        .timer {
          grid-area: timer-or-turn;
          padding: 3px 8px;
          font-size: 30px;
          font-weight: bold;

          &.correspondence {
            font-size: 24px;
          }

          &.low {
            background-color: #ffb87d;
          }

          &.critical {
            background-color: #ff6666;
          }
        }

        .turn {
          .ellipsis();

          grid-area: timer-or-turn;
          padding: 3px 0;
        }

        &.active {
          .timer:not(.low):not(.critical) {
            background-color: lightgreen;
          }
        }

        &.top {
          grid-area: top-player;
        }

        &:not(.top) {
          grid-area: bottom-player;
        }
      }

      .moves-panel {
        grid-area: moves;
        min-height: 100px;
        padding: 3px 8px 0;
      }
    }

    &.grid-desktop-style {
      --right-panel-width: @right-desktop-panel-width;

      grid-template:
        "game-info . game-content" min-content
        ".         . game-content" @grid-gap
        "chat      . game-content" fit-content(0)
        ~"/" @left-desktop-panel-width @grid-gap auto;
    }

    &.grid-tablet-style {
      --right-panel-width: @tablet-panel-width;

      grid-template:
        "game-content game-content game-content" auto
        ".            .            .           " @grid-gap
        "chat         .            game-info   " fit-content(0)
        ~"/" auto @grid-gap @tablet-panel-width;
    }

    &.grid-desktop-style,
    &.grid-tablet-style {
      .game-info,
      .chat,
      .boards,
      .game-player,
      .moves-panel,
      .game-actions {
        position: relative;
        background-color: #fffaf1;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
        }
      }

      .moves-panel {
        border-top: none;
      }

      .game-content {
        --moves-max-size: 150px;

        @media (max-height: 600px) {
          --moves-max-size: max-content;
        }

        grid-template:
          "boards . top-player   " auto
          "boards . .            " @grid-gap
          "boards . moves        " minmax(auto, var(--moves-max-size))
          "boards . actions      " max-content
          "boards . .            " @grid-gap
          "boards . bottom-player" auto
          ~"/" auto @grid-gap @right-panel-width;

        .game-player {
          @section-gap: 5px;

          --material-row: "." 0;
          --pocket-row: "." 0;

          &.top {
            &.with-material {
              --material-row:
                "material" max-content
                ".       " @section-gap;
            }

            &.with-pocket {
              --pocket-row:
                "pocket" auto
                ".     " @section-gap;
            }

            grid-template:
              var(--material-row)
              var(--pocket-row)
              "timer-or-turn" auto
              ".            " @section-gap
              "login        " auto
              ~"/" 100%;
            align-self: end;
          }

          &:not(.top) {
            &.with-material {
              --material-row:
                ".       " @section-gap
                "material" max-content;
            }

            &.with-pocket {
              --pocket-row:
                ".     " @section-gap
                "pocket" auto;
            }

            grid-template:
              "login        " auto
              ".            " @section-gap
              "timer-or-turn" auto
              var(--pocket-row)
              var(--material-row)
              ~"/" 100%;
            align-self: start;
          }
        }
      }
    }

    &.grid-mobile-style {
      grid-template:
        "game-content" auto
        "game-info   " max-content
        "chat        " fit-content(0)
        ~"/" 100%;
      padding: 0;

      .game-content {
        grid-template:
          "top-player   " auto
          "boards       " auto
          "bottom-player" auto
          "actions      " max-content
          "moves        " 100px
          ~"/" 100%;
      }

      .game-player {
        @section-gap: 5px;

        padding: 10px 8px;

        --material-row: ". . ." 0;

        &:not(.with-pocket) {
          &.with-material {
            --material-row: "material . timer-or-turn" max-content;
          }

          grid-template:
            "login . timer-or-turn" max-content
            var(--material-row)
            ~"/" 1fr @section-gap auto;
        }

        &.with-pocket {
          &.with-material {
            --material-row: "material material material" max-content;
          }

          grid-template:
            "login         . pocket" max-content
            "timer-or-turn . pocket" auto
            var(--material-row)
            ~"/" calc(100% - 10% * @pocket-size - @section-gap) @section-gap calc(10% * @pocket-size);
        }
      }
    }
  }
}

.promotion-modal {
  display: block;

  .modal-content {
    position: absolute;

    .promotion-pieces {
      .flex-col();

      .piece {
        cursor: pointer;
        border: 2px solid black;
      }
    }
  }
}

.resign-modal .modal-content {

}
