@import (reference) '../../styles/mixins';

@grid-gap: var(--grid-gap, 20px);

.route.game-route {
  .flex-col(@justify-content: center);

  .spinner {
    .flex();
  }

  .game {
    display: grid;
    grid-gap: @grid-gap;
    padding: @grid-gap;

    .info-actions-panel {
      grid-area: info-actions;

      .variants {
        .variants-header {
          margin-left: 10px;
        }

        padding: 3px 8px;
        max-height: 100px;
        overflow-y: auto;

        .variant {
          font-weight: bold;
          color: green;
        }
      }

      .actions {
        .flex-col-stretch();

        .buttons {
          @button-size: 40px;

          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));;
          justify-items: center;

          .button {
            .flex();

            position: relative;
            line-height: @button-size;
            width: @button-size;
            height: @button-size;
            font-size: 25px;
            cursor: pointer;
            background-color: rgba(0,0,0,0);

            &.enabled {
              background-color: #0c0;
            }

            &.disabled {
              cursor: not-allowed;
              opacity: 0.25;
            }

            &:not(.disabled) {
              &:hover {
                background-color: rgba(0,0,0,0.2);
              }
            }

            .piece-container {
              position: absolute;
              bottom: 0;
              right: 0;
              width: 15px;
              height: 15px;

              .piece {
                position: absolute;

                &.fantom {
                  opacity: 0.2;
                }
              }
            }
          }
        }

        .action {
          .flex();

          text-align: center;

          .takeback-move-link {
            color: green;
            cursor: pointer;
          }
        }

        .fa-check,
        .fa-times {
          cursor: pointer;
          margin-left: 5px;
        }

        .fa-check {
          color: green;
        }

        .fa-times {
          color: red;
        }
      }

      .result, .time-control {
        margin-left: 18px;
      }
    }

    .chat {
      .flex-col-stretch();

      grid-area: chat;
      min-height: 200px;
      border: 1px solid black;

      .header {
        .flex-child-fixed();
        .flex();

        padding: 5px 0;
        border-bottom: 1px solid black;
      }

      .messages {
        .flex-child();

        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 10px;

        .message {
          display: flex;
          width: 100%;
          margin-bottom: 4px;

          .login {
            font-weight: bold;
            margin-right: 10px;
            color: green;
          }

          .content {
            word-wrap: break-word;
            width: calc(100% - 30px);
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.system {
            .login {
              color: red;
            }
          }
        }
      }

      .new-message-input {
        .flex-child-fixed();
      }
    }

    .right-panel {
      .flex-col(@align-items: flex-start);

      grid-area: right-panel;
      justify-self: center;
      width: 100%;

      .player {
        .flex-col(@align-items: flex-start);

        .pocket {
          .flex();

          height: 40px;

          .piece-container {
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background-color: lightskyblue;

            &.disabled {
              opacity: 0.2;
            }

            .selected-square {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(115,125,105,0.5);
              z-index: 1;
            }

            .piece {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
            }

            .count {
              .flex();

              position: absolute;
              bottom: 0;
              right: 0;
              width: 15px;
              height: 15px;
              font-size: 10px;
              background-color: red;
              color: #fff;
              border-radius: 100%;
              z-index: 3;
            }
          }
        }

        .material-advantage {
          .flex();

          height: 20px;

          .piece-advantage {
            .flex();

            height: 20px;
          }

          .piece {
            width: 20px;
            height: 20px;
          }

          .count {
            margin-left: -2px;
          }

          .all-material-advantage {
            font-weight: bold;
            margin-left: 10px;
          }
        }

        .login {
          font-size: 16px;
        }

        .timer {
          padding: 6px 8px;
          margin: 5px 0;
          font-size: 30px;
          font-weight: bold;
          background-color: #f5f5f5;

          &.correspondence {
            font-size: 24px;
          }

          &.low {
            background-color: #ffb87d;
          }

          &.critical {
            background-color: #ff6666;
          }
        }

        .turn {
          margin: 5px 0;
        }

        &.active {
          .timer:not(.low):not(.critical) {
            background-color: lightgreen;
          }
        }

        &.top {
          .pocket {
            margin-top: 5px;
          }
        }

        &:not(.top) {
          .pocket {
            margin-bottom: 5px;
          }
        }
      }

      .moves-panel {
        height: auto;
        min-height: 100px;
        max-height: 250px;
        flex: 1 1 auto;
      }
    }

    &.grid-desktop-style {
      grid-template:
        "info-actions boards right-panel" min-content
        "chat         boards right-panel" fit-content(0)
        ~"/" var(--left-desktop-panel-width, 300px) auto var(--right-desktop-panel-width, 300px);
    }

    &.grid-tablet-style {
      grid-template:
        "boards right-panel " auto
        "chat   info-actions" fit-content(0)
        ~"/" auto var(--tablet-panel-width, 300px);

      .boards {
        align-items: flex-start;
      }
    }

    &.grid-mobile-style {
      grid-template:
        "boards      " auto
        "info-actions" 180px
        "right-panel " auto
        "chat        " fit-content(0)
        ~"/" 100%;
      padding: 0;
    }
  }
}

.promotion-modal {
  display: block;

  .modal-content {
    position: absolute;

    .promotion-pieces {
      .flex-col();

      .piece {
        cursor: pointer;
        border: 2px solid black;
      }
    }
  }
}

.resign-modal .modal-content {

}
