@import (reference) '../../styles/mixins';

.game-rules-example {
  display: grid;
  align-items: center;
  margin: 20px 0;

  .boards {
    grid-area: boards;
  }

  .description {
    grid-area: description;
    margin-top: 5px;
    font-style: italic;
    text-align: center;
  }

  .moves-panel {
    grid-area: moves-panel;
  }

  .not-desktop({
    grid-template:
      "boards" auto
      "description" auto
      "moves-panel" auto ~"/" 100%;

    .moves-panel {
      width: 100%;
    }
  });

  .desktop({
    grid-template:
      "boards moves-panel" auto
      "description moves-panel" auto ~"/" 2fr 1fr;
    grid-column-gap: 20px;
    padding: 0 10%;

    .moves-panel {
      min-height: 150px;
    }
  });
}
