@import (reference) '../../styles/mixins';

.moves-panel {
  .flex-col-stretch();

  width: 100%;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;

  .moves-icons {
    .flex-child-fixed();
    .flex();

    height: 30px;
    font-size: 18px;
    border-bottom: 2px solid #888;

    .move-icon {
      .flex();

      width: 25%;
      height: 100%;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.25;
      }

      &:not(.disabled) {
        .hover({
          background-color: rgba(0,0,0,0.2);
        });
      }
    }
  }

  .moves-container {
    .flex-child();

    position: relative;
    overflow-y: auto;

    .moves-by-turn {
      .move-row {
        .flex-stretch(@justify-content: flex-start);

        min-height: 25px;
        width: 100%;

        .move-index {
          .flex();
          .flex-child-fixed(12%);
        }

        .move {
          .flex(@justify-content: flex-start);
          .flex-child-fixed(44%);

          padding: 0 5px;
          word-break: break-word;
          cursor: pointer;

          .hover({
            background-color: #eee;
          });

          &.current {
            background-color: #ccc;
          }

          .piece {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .moves-text {
      .flex(@align-items: flex-start, @justify-content: flex-start);

      flex-wrap: wrap;
      padding: 5px 0;

      .move-container {
        margin-bottom: 4px;
        white-space: nowrap;

        .move-index {
          padding: 1px 2px;
        }

        .move {
          padding: 1px 2px;
          cursor: pointer;

          .hover({
            background-color: #eee;
          });

          &.current {
            background-color: #ccc;
          }
        }
      }
    }
  }
}
